<p>Or subscribe with your favourite pod catcher:</p>

<ul class="podcast">
    <li class="podcast">
        <a href="https://open.spotify.com/show/5wINaD918lNnkN1LRssbe2">
            <image src="/img/spotify_podcasts.svg" alt="Listen on Spotify" />
        </a>
    </li>
    <li class="podcast">
        <a href="https://podcasts.apple.com/podcast/the-net/id1530972322">
            <image src="/img/apple_podcasts.svg" alt="Listen on Apple Podcasts" />
        </a>
    </li>
</ul>

<!--<image src="/img/google_podcasts.svg" alt="Listen on Google Podcasts" />-->